<div id="titleCarreras" class="titleCarreras mt-4 mb-4">
  <div class="row" id="rowRight">
    <div class="row" id="subRowRight"></div>
  </div>
  <div class="bannerParagraph">
    <p class="title animated bounceIn slow"><span class=" icon-ok-4 animated fadeInLeft slow "></span> CONOCE NUESTROS BENEFICIOS </p>
  </div>
  <div class="row" id="rowLeft">
    <div class="row" id="subRowLeft"></div>
  </div>
</div>

<div class=" beneficios container mt-4 mb-4">

  <div class="beneficiosDiv">
      Beneficio 1
  </div><div class="beneficiosDiv">
      Beneficio 1
  </div><div class="beneficiosDiv">
      Beneficio 1
  </div><div class="beneficiosDiv">
      Beneficio 1
  </div>

</div>
