button {
    font-size: 18pt;
}

.modalInfoCarrera {
    position: fixed;
}

.formsCarreras {
    width: 80%;
    height: auto;
    background-color: rgba(245, 245, 245, 0.89);
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(10, 10, 10, 0.5);
    padding: 12px;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}

input {
    background-color: whitesmoke;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: solid 1px steelblue;
    outline: none !important;
}

#enfermeria {
    height: 510px;
    background-image: url('../../assets/img/enfermeria.jpg');
    background-repeat: no-repeat;
    background-size: 1300px auto;
    background-position: -100px -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

button {
  transition: ease all 0.3s;
  background-color: #232323;
  color: white;
  opacity: 0.9;
  font-family: 'Oswald', sans-serif;
  border-radius: 0px 0px 0px 0px;
  height: 40px;
  width: 200px;
  padding-bottom:10px;
  padding-top:0;
}

button:hover {
    transition: ease all 0.5s;
    opacity: 1;
    border: solid 1px gray;
    box-shadow: 2px 2px 8px #444444;
    font-family: 'Oswald', sans-serif;
    color: white;
    height: 50px;
    border-bottom: solid 5px yellow;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 28pt;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 10px;
}
