
#bodyComp{
  /*border: solid 0.5px gray;*/
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}


#rowRight {
  margin-top: 45px;
  width: 0;
  height: 0;
  border-left: 75px solid #C8580F;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#subRowRight {
  width: 0;
  height: 0;
  border-left: 15px solid #06219A;
  border-top: 18px solid transparent;
  border-bottom: 50px solid transparent;
  position: absolute;
  margin-left: -68px;
}

#subRowLeft {
  width: 0;
  height: 0;
  border-left: 15px solid #06219A;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  margin-left: -75px;
}

#rowLeft {
  margin-top: 45px;
  width: 0;
  height: 0;
  border-left: 75px solid #C8580F;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

#carreras {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: stretch;
  align-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 965px){
  #carreras {
    width: 100%;
  }
  #bodyComp{
      width: 100%;
  }
}

.carrerasB {
  width: 160px;
  height: 140px;
  background-color: rgba(14, 2, 0, 0.45);
  transition: ease all 1s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  .carrerasB:hover {
    transition: ease all 1s;
    opacity: 0;

  }

.carreras {
  width: 150px;
  height: 140px;
  /*border: solid 1px gray;*/
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease all 1s;
}

.bannerParagraph {
  background-color: rgba(255, 191, 8 ,1);
  padding-bottom: 3px;
  padding-top: 5px;
  width: 45%;
  z-index: 2;
  box-shadow: -15px 10px 10px rgba(0,0,0,0.5);
}

#modal{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 500px;
  top: 40%;
  left: 50%;
  margin-left: -50%;
  z-index: 200;
  border-radius: 10px;
}

#info {
  width: 40%;
  height: auto;
  /*border: solid 0.5px gray;*/
  display: flex;
  flex-direction: column;
}

#subsucribe{
  width: 100%;
  height: auto;
  background: whitesmoke;
}

#titleCarreras {
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 28pt;
  text-align: center;
  padding: 10px;
}
/*carreras INICIO*/

/*responsive INICIO*/

@media only screen and (max-width: 500px){
  #tSupEnfermeria {
    background-size: 200% 150%;
    background-position: -50px -50px;
  }
}
/*responsive FIN*/
#tSupEnfermeria {
  background-image: url('../../assets/img/enfermeria.jpg');
  background-size: 120% 100%;
  background-repeat: no-repeat;
}

  #tSupEnfermeria:hover {
    transition: ease all 1s;
    background-size: 130% 110%;
    background-position: -10px -10px ;
  }

#tSupPodologia {
  background-image: url('../../assets/img/la-importancia-de-higiene-y-esterilizacion-en-clinicas-de-podologia_flowww.png');
  background-size: 120% 100%;
  background-repeat: no-repeat;
}

#tSupPodologia:hover {
  transition: ease all 1s;
  background-size: 130% 110%;
  background-position: -10px -10px;
}
#atAdultoMayor {
  background-image: url('../../assets/img/gerontologia.jpeg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

  #atAdultoMayor:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -10px -10px;
  }

#rebFisica {
  background-image: url('../../assets/img/rbFisica.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
  background-position: -50px 0;
}

  #rebFisica:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -60px -10px;
  }


#mantBiomed {
  background-image: url('../../assets/img/mantEquipos.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
  background-position: -50px 0;
}

  #mantBiomed:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -60px -10px;
  }


#tricol {
  background-image: url('../../assets/img/tricologia.jpeg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

  #tricol:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -10px -10px;
  }

#contabilidad {
  background-image: url('../../assets/img/cotabilidad.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

  #contabilidad:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -10px -10px;
  }

#admEmp {
  background-image: url('../../assets/img/administracionEmpresas.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

#admEmp {
  transition: ease all 1s;
  background-size: 150% 110%;
  background-position: -10px -10px;
}

#desarrolloSoft {
  background-image: url('../../assets/img/desSoft.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

#desarrolloSoft:hover {
  transition: ease all 1s;
  background-size: 150% 110%;
  background-position: -10px -10px;
}

#turismo {
  background-image: url('../../assets/img/turismo.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

  #turismo:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -10px -10px;
  }

#transporte {
  background-image: url('../../assets/img/transporte.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

  #transporte:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -10px -10px;
  }

#conduccion {
  background-image: url('../../assets/img/coduccion.jpg');
  background-size: 140% 100%;
  background-repeat: no-repeat;
}

  #conduccion:hover {
    transition: ease all 1s;
    background-size: 150% 110%;
    background-position: -10px -10px;
  }

.smallest {
  font-size: 9pt;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 1089px) {
  #info {
    display: none;
  }
  #carreras {
    width: 100%;
    justify-content: stretch;
    justify-content: center;
  }
  #titleCarreras{
      display: flex;
      justify-content: center;
      margin-bottom:12px;
  }
}

/*carreras FIN*/

