
<div id="titleCarreras" class="container-fluid  p-4">

  <p class="title">Nuestras Carreras</p>

</div>
<section id="filtro" class="filtro animated fadeIn slow p-4">
  <i class="material-icons btn btn-secondary" title="filtro de busqueda">
    settings_input_component
  </i>
  <p [id]="todas"></p>
</section>
<div class="container-fluid mt-4 mb-4" id="bodyComp">

  <!-- carreras INICIO -->

  <section id="carreras">
    <div class="carreras" id="tSupEnfermeria" data-toggle="modal" data-target="#exampleModal">
      <div class="carrerasB" (click)="changeRun()">
        <img src="../../assets/ico-carreras/ico-enf.png" width="50" />
        <p class="smallest mt-2">Tecnologia Superior <br /> en Enfermería</p>
      </div>
    </div>
    <div class="carreras" id="tSupPodologia">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-pie.png" width="50" />
        <p class="smallest mt-2">Tecnologia Superior <br /> en Podología</p>
      </div>
    </div>
    <div class="carreras" id="atAdultoMayor">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-gerontologia.png" width="50" />
        <p class="smallest mt-2">Tecnologia Superior <br /> en Atención Integral para<br />Adultos Mayores</p>
      </div>
    </div>
    <div class="carreras" id="rebFisica">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-rebFisica.png" width="50" />
        <p class="smallest mt-2">Tecnologia Superior <br /> en Rehabilitación Física</p>
      </div>
    </div>
    <div class="carreras" id="mantBiomed">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-mantBiomed.png" width="50" />
        <p class="smallest">Tecnologia Superior <br /> en Mantenimiento de equipos Biomédicos</p>
      </div>
    </div>
    <div class="carreras" id="tricol">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-tricologia.png" width="50" />
        <p class="smallest">Tecnologia Superior <br /> en Tricología y Cosmiatría</p>
      </div>
    </div>
    <div class="carreras" id="contabilidad">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-contabilidad.png" width="50" />
        <p class="smallest">Tecnologia Superior <br /> en Contabilidad</p>
      </div>
    </div>
    <div class="carreras" id="admEmp">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-adminisracion.png" width="50" />
        <p class="smallest">Tecnologia Superior <br /> en Administración de Empresas</p>
      </div>
    </div>
    <div class="carreras" id="desarrolloSoft">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-des.png" width="50" />
        <p class="smallest mt-2">Tecnología <br /> en Administración de Empresas</p>
      </div>
    </div>
    <div class="carreras" id="turismo">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-turismo.png" width="50" />
        <p class="smallest mt-2">Tecnología en Turismo</p>
      </div>
    </div>
    <div class="carreras" id="transporte">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-bus.png" width="50" />
        <p class="smallest">Tecnología Superior en Planificación y Gestión de transporte</p>
      </div>
    </div>
    <div class="carreras" id="transporte">
      <div class="carrerasB">
        <img src="../../assets/ico-carreras/ico-conduciion.png" width="50" />
        <p class="smallest">Escuela de Conducción Profesional</p>
      </div>
    </div>

  </section>
  <!-- carreras FIN -->

  <section id="info">

    <div class="subscribe"></div>
    <div class="noticiasImportantes"></div>

  </section>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
